 /*utility  please do not change*/
.hide{
    display:none;
    visibility: hidden;
}


/* Other */
body{
	font-family: 'helvetica neue', 'san fransisco', sans-serif;
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 74%, rgba(183,222,237,1) 100%);
}

#content>header h1{
    color: red;
    float: left;
    width: 8.6em;
    height: 1em;
}

#content>header h2{
    width: 18em;
    font-size: .9em;
    height: 1em;
    padding-top: 1.7em;
    float: left;
}

#content>header{
    clear: both;
    height: 4em;
    max-width: 80%;
    min-width: 16em;
    max-height: 1em;
    margin-left: 10%;
    margin-right: 10%;
    /* overflow:hidden; */
}

#content>article>header{
    width: 80%;
    height: 3em;
	  margin-bottom: 3em;
	  margin-top: 3em;
    margin-left:auto;
	  margin-right: auto;
    clear: both;
    text-align: center;
}

#content>article>header h3{
    padding-bottom: 0;
    margin-bottom: 0;
}

#content>article>header h4{
    padding-top: 0;
    margin-top: 0;
    display: none;
}

/* work */
li[id^="option"]{
    cursor: pointer;
}
#content{
  align-content: center;
  width: 100%;
}
#content>article>article{
    width: 100%;

}

#content>article>article ul{
	list-style: none;
	position: relative;
  padding-left: 0px;
  overflow: visible;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.top-ans, .bottom-ans{
  width:78%;
  margin-bottom: 3em;
  height: auto;
  margin-left: 11%;
  margin-right: 11%;
}

#content>article>article>ul li{
  border-radius: 4%;
	display: block;
	position: relative;
	width: 27%;
  min-width: 150px;
	float: left;
	text-align: center;
  height: 250px;
	background-color: red;
	box-sizing: border-box;
	color: transparent;
}
#content>article>article>ul li:nth-child(2){
  margin-left: 5%;
  margin-right: 5%;
}
/* #content>article>article>ul li:first-of-type{
  margin-left: 5%;
} */
#content img{
  border-radius: 4%;
}
@media (max-width:820px){
  #content>article>article>ul{
    margin-top: 0;
    min-width: 310px;
    padding: 0 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: content-box;
  }
  #content>article>article>ul li{
    margin-top: 2em;
    position: relative;
    width: 56%;
    max-width: 300px;
    margin-left: 22%;
    margin-right: 22%;
  }
  #content>article>article>ul li:nth-child(2){
    margin-left: 22%;
    margin-right: 22%;
  }
  .top-ans, .bottom-ans{
    width: 100%;
    margin: 0;
  }
  #content>article>header{
    margin-bottom: 0;
    padding-bottom: 0;
    height: .5em;
  }
  #content>header>h1{
    color: blue;
    font-size: 1em;
  }
  #content>header>h2{
    color: #03b3ff;
    font-size: .8em;
    padding-top: .4em;
    margin-left: .3em;
  }
  #content>article>header h3 {
    display: none;
  }
  #content>article>header h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}

#content li{
  margin-bottom: 50px;
}
#content div .top-ans{
  margin-bottom: 50px;
}
/*#content>article>article>ul li:nth-child(1){
	border-top-left-radius: 30%;
}
#content>article>article>ul li:nth-child(2){
	border-top-right-radius: 0%;
}
#content>article>article>ul li:nth-child(3){
	border-bottom-left-radius: 30%;
}
#content>article>article>ul li:nth-child(4){
	border-bottom-left-radius: 30%;
}
#content>article>article>ul li:nth-child(5){
	border-bottom-right-radius: 30%;
}
#content>article>article>ul li:nth-child(6){
	border-bottom-right-radius: 30%;
}*/
#content>article>article>ul li:hover{
	box-shadow: inset 0 0 0px 10px white;
}

#output{
	display:block;
	text-align: center;
}
#output ul{
	list-style: none;
	padding-left: 0;
			}
